<p id="notice"><%= notice %></p>

<p>
  <strong>Pitch:</strong>
  <%= @note.pitch %>
</p>

<p>
  <strong>Time:</strong>
  <%= @note.time %>
</p>

<p>
  <strong>Length:</strong>
  <%= @note.length %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
